doctype html
head
  title  moviestore homepage 
  meta(charset='UTF-8')
  // meta data for assisting search engines
  meta(name='keywords' content='tickets, cinema, John Wick, Fast and Furious, Harry Potter, action, racing, fantasy, movie, violence, sale, \
  purchase')
  meta(name='description' content='Buy your tickets for the movies at our cinema here!')
  meta(name='author' content='Taylan Batman, Jonathan van Dijk, Marijn Luime')
  meta(name='viewport' content='width=device-width, initial-scale = 1.0')
  link(rel='stylesheet' href='../css/general.css')
  script(src='../js/nav.js' defer='')
  script(src='../js/movies.js')
  script(src='../js/index.js' defer='')
main
  header
    h1 Welcome to our cinema site!
nav
h2 These movies are about to air:
h3 Set 3 of 2
p
  label
  button
p
  label
  button
p
  label
  button
p
  label
  button
p
  label
  button
p
  label
  button
p
  label
  button
p
  label
  button
p
  label
  button
p
  label
  button
button
  img(src='https://static.vecteezy.com/system/resources/previews/000/582/016/original/arrow-icon-vector-illustration.jpg' alt='An arrow button to indicate the possibility to see the next set of movies')