doctype html
//-this page is loaded when a notification/error comes up and needs to be displayed to the user
head
  title  Cinema Utrecht movie notification
  meta(charset='UTF-8')
  meta(name='keywords' content='tickets, cinema, John Wick, Fast and Furious, Harry Potter, action, racing, fantasy, movie, violence, sale, purchase')
  meta(name='description' content='The description of the clicked movie')
  meta(name='author' content='Taylan Batman, Jonathan van Dijk, Marijn Luime')
  meta(name='viewport' content='width=device-width, initial-scale = 1.0')
  link(rel='stylesheet' href='../group16/css/general.css')
  script(src='../group16/js/nav.js' defer='')
header 
  h1 Cinema Utrecht movie notification!
nav
main !{content}
//-place for the content of the notification to be displayed