/*General CSS that applies to all screen sizes and devices and is applied to all/most pages*/
* {
    color: black;
    font-family: Lucida, sans-serif;
    font-size: 3vw;
    background-color: rgb(64, 109, 126);
}

sup {
    font-size: 1vw;
}

nav {
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    max-width: 100%;
  }
  
nav ul li {
    float: left;
    background-color: gray;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vw 3vw;
    text-decoration: none;
    background-color: gray;
  }
  
li a:hover:not(.active) {
    background-color: #111;
}

header {
    text-align: center;
}

    header h1 {
        font-size: 5vw;
    }

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-style: italic;
}

table, th, td {
    border: 1px solid black;
}

table {
    margin: 1%;
}

button img {
    max-width: 10vw;
    max-height: auto;
}

h2 {
    font-size: 4vw;
}

/*Screen specific*/

@media only screen and (max-width: 300px ) {
    * {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 425px ) {
    * {
        font-size: 4.5vw;
    }
}

@media only screen and (max-width:600px) {
    * {
        font-size: 3vw;
    }
}

@media only screen and (min-width:601px) {
    * {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 768px ) {
    * {
        font-size: 2vw;
    }
}
